[Unit]
Description=EPG Generator Daemon

[Service]
WorkingDirectory=/opt/iptv-epg
User=iptv
Type=simple
ExecStart=/usr/bin/make-epg.sh

[Install]
WantedBy=multi-user.target
